@{
    Layout = "_Layout";
}

<form action="/artists" method="post">
    <h3 id="formTitle">New Artist</h3>
    <label for="artistName">Name</label>
    <input id="artistName" name="artistName" type="text">
    <br>
    <button id="formButton" type="submit">Submit</button>
</form>