@{
    Layout="_Layout";
}

@using BeatBox.Models;
<div id="albumsList">
<h3>@Model["artist"].Name Albums</h3>

<ul>
    @foreach (Album album in @Model["albums"])
    {
        <li>@album.Name</li>
    }
</ul>

<button><a href="/artists">Return to Artist List</a></button>
<button><a href='/artists/@Model["artist"].Id/albums/new'>Add another album!</a></button>

</div>