@{
    Layout="_Layout";
}

@using BeatBox.Models;

<h3>Albums</h3>

<ul>
    @foreach (Album album in @Model["albums"])
    {
        <li>@album.Name</li>
    }
</ul>

<p><a href="/artists">Return to Artist List</a><p>
<p><a href='/artists/@Model["artist"].Id/albums/new'>Add another album!</a></P>