@{
  Layout = "_Layout";
}
<div id="homePage">
  <h3 id="welcome">Welcome to BeatBox- Your Ultimate Music Library Organizer</h3>

  <p id="about">Say goodbye to music library chaos and hello to seamless organization with BeatBox! Dive into the world
    of personalized discographies, where you can effortlessly browse and explore your favorite tunes. Our user-friendly
    app transforms your music library into a neatly organized collection, making it a breeze to discover, enjoy, and
    share your favorite tracks. With BeatBox, music organization has never been this smooth. Get ready to groove through
    your library like never before! #BeatBoxYourTunes</p>
</div>