<div id="header">
  <div id="navbar">
    <a href="/">
      <img class="logoImage" src="~/images/maraca.png" alt="Beatbox Maraca logo" />
    </a>
    <div id="centerNavbar">
      <img id="logoText" src="~/images/beatbox.png" alt="Beatbox text logo" />
      <div id="iconRow">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e0ca65" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        <a href="/artists">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e0ca65" class="bi bi-vinyl-fill" viewBox="0 0 16 16">
            <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4m0 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0"/>
        </svg>
        </a>
        <a href="/artists/new">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e0ca65" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        </a>
      </div>
    </div>
    <img class="logoImage" src="~/images/maraca.png" alt="Beatbox Maraca logo" />

  </div>
</div>
